* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  background-color: #282c34; /* dark background */
  padding: 1rem 2rem;
  position: sticky; /* keeps navbar visible when scrolling */
  top: 0;
  z-index: 1000;
}
